<nav id="navigation">
  <div class="container">
    <div class="logo"></div>
    <div class="links">
      <li><a href="#">Home</a></li>
      <li><a class="aboutlink">About</a></li>
      <li><a class="aboutlink">Projects</a></li>
      <li><a class="aboutlink">Contact</a></li>
    </div>
  </div>
</nav>