<header id="header">
    <div class="container">
        <div class="text">
            <h3>Hello, I'm</h3>
            <h1>Christian James</h1>
            <small>Aspiring Web Developer</small>
        </div>
    </div>
</header>
<div class="about" id="about">
    <div class="container">
        <div class="heading">
            <h1 id="test">Who <span>I am</span></h1>
            <h3><span>ยก</span>Hola Mundo, <span>My name is Christian James</span></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur perspiciatis ullam unde tempora neque veniam? Dolorem blanditiis veniam id, minima culpa fugit ut, facilis nostrum eos libero, repellat molestiae reiciendis?</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium, repellat.</p>
            <a href="#">Contact</a>
        </div>
    </div>
</div>
<div class="skills">
    <div class="container">
        <div class="heading">

        </div>
    </div>
</div>