<header id="header">
    <div class="container">
        <div class="text">
            <h3>Hello, I'm</h3>
            <h1>Christian James</h1>
            <small>Front-End Web Developer</small>
        </div>
    </div>
</header>
<div class="about" id="about">
    <div class="container">
        <div class="heading">
            <h1 id="header-text">Who
                <span>I am</span>
            </h1>
            <h3 id="header-text">
                <span>ยก</span>Hola Mundo,
                <span>My name is Christian James</span>
            </h3>
            <div class="bodytext-wrapper">
                <p>I am a front end developer located in our wonderful Earth. Since I was young I am really passionate about
                    computer I love to write code and I love learning everyday. My dream is to work with big companies with
                    tech related.
                </p>
                <p>Contact me if you want to work with me just click the button down below.</p>
                <a href="#contact">Contact</a>
            </div>
        </div>
    </div>
</div>
<div class="good-at" id="skills">
    <div class="container">
        <div class="heading">
            <h1 class="sectionTwoHeader">
                What I am
                <span>Good</span> at
            </h1>
        </div>
        <section>
            <div class="section-wrapper">
                <div class="icon sectionTwoIconWrapper">
                    <img class="sectionTwoIcon" src="/images/portfolio/javascripticon.png" alt="" height="100" width="100">
                </div>
                <p class="icon-paragraph">Vanilla JS</p>
            </div>
            <div class="section-wrapper">
                <div class="icon sectionTwoIconWrapper">
                    <img class="sectionTwoIcon" src="/images/portfolio/angularicon.png" alt="" height="100" width="100">
                </div>
                <p class="icon-paragraph">Angular 2+</p>
            </div>
            <div class="section-wrapper">
                <div class="icon sectionTwoIconWrapper">
                    <img class="sectionTwoIcon" src="/images/portfolio/reacticon.png" alt="" height="100" width="100">
                </div>
                <p class="icon-paragraph">React</p>
            </div>
            <div class="section-wrapper">
                <div class="icon sectionTwoIconWrapper">
                    <img class="sectionTwoIcon" src="/images/portfolio/nodejsicon.png" alt="" height="100" width="100">
                </div>
                <p class="icon-paragraph">Node JS</p>
            </div>
        </section>
    </div>
</div>
<div class="other-skills">
    <div class="container">
        <div class="heading otherSkillsHeading">
            <h1>Other
                <span>Skills</span> I have</h1>
            <p>As a part of learning Javascript I also know HTML/CSS, for wireframing I use adobe XD, and for some inspiration
                I go to Dribble. here are the some of my skills.</p>
        </div>
        <div class="skill-wrapper">
            <div class="skill html">
                <div class="text">
                    <h3>HTML</h3>
                    <h3>90%</h3>
                </div>
                <div class="bar">
                    <div class="bar-percent">
                    </div>
                </div>
            </div>
            <div class="skill css">
                <div class="text">
                    <h3>CSS</h3>
                    <h3>90%</h3>
                </div>
                <div class="bar">
                    <div class="bar-percent">
                    </div>
                </div>
            </div>
            <div class="skill adobe">
                <div class="text">
                    <h3>Adobe XD</h3>
                    <h3>70%</h3>
                </div>
                <div class="bar">
                    <div class="bar-percent">
                    </div>
                </div>
            </div>
            <div class="skill laravel">
                <div class="text">
                    <h3>Laravel</h3>
                    <h3>60%</h3>
                </div>
                <div class="bar">
                    <div class="bar-percent">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="projects" id="projects">
    <div class="container">
        <div class="heading">
            <h1 class="projectsheading">My
                <span>Work</span>
            </h1>
        </div>
        <div class="projects-wrapper">
            <div class="project">
                <a href="https://jeyxxsi.tk">
                    <div class="project-hover">
                        <div class="text-wrapper">
                            <h3>Specialist Agency</h3>
                            <p>Built with Angular</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="project">
                <a href="https://medlife.tk">
                    <div class="project-hover">
                        <div class="text-wrapper">
                            <h3>Medlife</h3>
                            <p>Built with React & Node.JS</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="project">
            </div>
            <div class="project">
            </div>
            <div class="project">
            </div>
            <div class="project">
            </div>
        </div>
    </div>
</div>
<div class="google-map" id="map">
</div>
<footer id="contact">
    <div class="container">
        <div class="contact-form">
            <form action="/send" method="POST">
                <div class="heading">
                    <h1>Get in touch</h1>
                </div>
                <div class="input-wrapper">
                    <input type="text" name="name" id="name" placeholder="Name...*" autocomplete="name">
                    <small id="nameerror">Name is required</small>
                    <input type="email" name="email" id="email" placeholder="Email..*" autocomplete="email">
                    <small id="emailerror">Email is required</small>
                    <input type="text" name="company" id="company" placeholder="Company name..." autocomplete="oragization">
                </div>
                <div class="textarea-wrapper">
                    <textarea name="message" id="message" cols="30" rows="10" placeholder="Message...*" autocomplete="message"></textarea>
                    <small id="messageerror">Message is required</small>
                    <button type="submit" id="button">SUBMIT</button>
                </div>
            </form>
            <div class="info-wrapper">
                <section>
                    <div class="logo">
                        <img src="/images/portfolio/map.png" alt="" height="20" width="20">
                    </div>
                    <div class="info">
                        <h5>Location</h5>
                        <small>Melton Mowbray, United Kingdom</small>
                    </div>
                </section>
                <section>
                    <div class="logo">
                        <img src="/images/portfolio/github-brandico.png" alt="" height="20" width="20">
                    </div>
                    <div class="info">
                        <h5>Github</h5>
                        <small>https://github.com/Itsmechristian</small>
                    </div>
                </section>
                <section>
                    <div class="logo">
                        <img src="/images/portfolio/email.png" alt="" height="20" width="20">
                    </div>
                    <div class="info">
                        <h5>Email</h5>
                        <small>contact@itsmechristian.co.uk</small>
                    </div>
                </section>
            </div>
        </div>
    </div>
</footer>
<a href="#">
    <div class="floating" id="float">
    </div>
</a>
<script src="/js/googlemap.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuRhBEo7izyqLa_rAwKgYS-CSjrruSX7g&callback=initMap"
    type="text/javascript"></script>