<nav>
  <div class="container">
    <img src="/img/mylogo40x40.svg" alt="mylogo" height="40" width="40">
    <h3><span>It's me</span> christian</h3>
    <ul>
      <li><a href="#">HOME</a></li>
      <li><a href="#">ABOUT</a></li>
      <li><a href="#">PROJECTS</a></li>
      <li><a href="#">CONTACT</a></li>
    </ul>
  </div>
</nav>
<header>
  <div class="container">
    <div class="greetings">
      <h1>Hello There</h1>
      <h1>I'm Christian James,</h1>
      <h1>a web developer</h1>
      <h1 href="" class="typewrite" data-period="2000" data-type='[ "I Code Cool Website.","I Love to Develop.", "I Love to Learn."]'>
          <span class="wrap"></span>
      </h1>
      <a href="#" class="linkOne">I need a website</a>
      <a href="#" class="linkTwo">I'm looking to hire</a>
    </div>
  </div>
</header>
<div class="about-me-area">
  <div class="me">
    
  </div>
  <div class="skills">
    <div id="skills-inner">
    <h1>&lt;/&gt; Skills</h1>
    {{#each skills}}
    <div class="chart">
      <div class="title">
        <p>{{title}}</p>
      </div>
      <div class="percentage" style="width: {{percentWidth}}%">
      </div>
      <p>{{percentage}}%</p>
    </div>
    {{/each}}
    </div>
  </div>
  <div class="about-me">
    <h1>About me</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat exercitationem numquam excepturi ipsum sit dicta molestias praesentium at doloremque modi inventore quae molestiae aliquid nam mollitia reiciendis qui enim, illum aut neque eaque nulla rem ut! Eos repellendus delectus ab fugit, sit dolore. Unde deleniti quod culpa repudiandae consectetur iusto!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos deleniti dicta hic dolorum eveniet laudantium ipsam! Facilis nihil quis quisquam voluptatem dicta suscipit, est asperiores ab, maxime mollitia libero eligendi voluptates laborum dolorem sunt deleniti in rerum corporis dolor, ipsam repellat repellendus dignissimos dolores. Vel enim doloremque fuga nam necessitatibus.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque omnis inventore porro dolorum aliquam aperiam in, veniam, tempore accusantium ducimus autem expedita est minima sapiente, quasi obcaecati sequi delectus ab molestias corrupti vel? Quos ad maiores ea, facere dolores cupiditate cum voluptate tempora natus deleniti molestias neque accusantium eos quaerat.</p>
  </div>

</div>
<div class="projects">
  <h2>Projects</h2>
</div>