<header>
   <div class="container">
       <div class="greetings">
           <div class="wrap">
                <h1>Hello I'm Christian</h1>
                <h1>Full Stack Developer</h1>
                <div class="border"></div>
           </div>
           <div class="link">
                <a href="#">View my work<i class="fa fa-arrow-right"></i></a>
           </div>
       </div>
   </div>     
</header>