<header id="header">
   <div class="container">
      <div class="greetings">
         <div class="wrap">
            <h1>Hello I'm Christian</h1>
            <h1>Full Stack Developer</h1>
            <div class="border"></div>
         </div>
         <div class="link">
            <a href="#about">View my work<i class="fa fa-arrow-right"></i></a>
         </div>
      </div>
   </div>
</header>
<div class="about" id="about">
   <div class="container">
      <div class="heading">
         <h1>About</h1>
         <hr>
      </div>
      <div class="statement">
         <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi esse voluptate excepturi laboriosam corporis ad voluptas dignissimos, possimus temporibus Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni, minima?</h3>
      </div>
      <div class="button">
         <a href="mailto:hello@itsmechristian.co.uk" id="button">Get in touch</a>
      </div>
      <div class="expertise">
         <div class="skills">
            <div class="wrap">
               <h3>HTML</h3>
            </div>
         </div>
         <div class="skills">
            <div class="wrap">
               <h3>CSS</h3>
            </div>
         </div>
         <div class="skills">
            <div class="wrap">
               <h3>jQuery</h3>
            </div>
         </div>
         <div class="skills">
            <div class="wrap">
               <h3>Javascript</h3>
            </div>
         </div>
         <div class="skills">
            <div class="wrap">
               <h3>Angular</h3>
            </div>
         </div>
         <div class="skills">
            <div class="wrap">
               <h3>React</h3>
            </div>
         </div>
      </div>
      <hr>
      <div class="works" id="projects">
         <div class="heading">
            <h1>MY WORKS</h1>
         </div>
         <div class="project">
         </div>
         <div class="project">
         </div>
         <div class="project">
         </div>
         <div class="project">
         </div>
         <div class="project">
         </div>
         <div class="project">
         </div>
      </div>
      <hr>
      <div class="get-in-touch" id="contact">
         <div class="button">
            <a href="mailto:hello@itsmechristian.co.uk" >hello@itsmechristian.co.uk</a>
         </div>
         <div class="logo">
             <i class="fa fa-github"></i>
         </div>
      </div>
   </div>
</div>
<footer>
    <p>Copyright &copy; 2018. Love Lots.</p>
</footer>