<header>
   <div class="container">
      <div class="greetings">
         <h1>Hello, I'm <span class="myName">Christian James</span>.</h1>
         <h1>I'm a front-end developer.</h1>
         <a href="#about" id="landing-page-link">View my work</a>
         <img src="/images/portfolio/arrowleft.ico" alt="" height="15px" width="15px" id="arrow">
      </div>
   </div>
</header>
<nav id="navigation" >
   <div class="container">
      <img src="/images/portfolio/mylogo40x40.svg" alt="" height="30" width="30">
      <a href="#" class="logoname">IT'S ME <span>CHRISTIAN</span></a>
      <div class="nav-links">
         <a href="#about">ABOUT</a>
         <a href="#">PORTFOLIO</a>
         <a href="#">CONTACT</a>
      </div>
      <div class="hamburger">
         <div></div>
         <div></div>
         <div></div>
      </div>
      <div class="drop-items">
         <li><a href="#">About</a></li>
         <li><a href="#">Portfolio</a></li>
         <li><a href="#">Contanct</a></li>
      </div>
   </div>
</nav>
<div class="about-me-section" id="about">
   <div class="container">
      <h1 id="about-header">
         ABOUT
      </h1>
      <hr id="border"/>
      <div class="about-wrapper-left">
         <div class="profile-name">
            <h1>Christian James</h1>
            <small>Web Developer</small>
         </div>
         <div class="lead">
            <h2>A <span>Talented Developer</span></h2>
            <h2>Located In Our Lovely Earth</h2>
         </div>
         <div class="sb-32">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque eveniet provident voluptatibus accusantium nihil iure, autem commodi sed dignissimos porro at voluptatem doloremque corrupti reiciendis, ad, ullam magni labore. Libero nam impedit incidunt! Maiores corporis dignissimos nihil nostrum vitae, ipsa amet dolore eaque magni quia magnam porro tenetur et quod.</p>
         </div>
      </div>
      <div class="about-wrapper-right">
         <img src="/images/portfolio/me.jpg" alt="" height="200px" width="200px">
      </div>
   </div>
   <div class="container">
      <div class="icons">
         <div class="icons-wrapper">
            <div class="icon-item first-shape">
            </div>
         </div>
         <div class="icons-wrapper">
            <div class="icon-item second-shape">
            </div>
         </div>
         <div class="icons-wrapper">
            <div class="icon-item third-shape">
            </div>
         </div>
          <div class="icons-wrapper">
            <div class="icon-item fourth-shape">
            </div>
         </div>
      </div>
   </div>
</div>
<div class="portfolio-section">
   <div class="cotainer">
   </div>
</div>

{{!-- <h1 href="" class="typewrite" data-period="2000" data-type='[ "I Code Cool Website.","I Love to Develop.", "I Love to Learn."]'>
    <span class="wrap"></span>
</h1> --}}