@font-face {
  font-family: segui;
  src: url("/fonts/segui.ttf"); }

@font-face {
  font-family: seguisb;
  src: url("/fonts/seguisb.ttf"); }

@font-face {
  font-family: poppins-semibold;
  src: url("/fonts/Poppins-SemiBold.otf"); }

@font-face {
  font-family: poppins;
  src: url("/fonts/Poppins-Regular.otf"); }

:root {
  scroll-behavior: smooth; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

a {
  font-family: sans-serif;
  text-decoration: none; }

ul {
  list-style-type: none; }

.container {
  max-width: 1140px;
  margin: 0 auto;
  position: relative; }

@keyframes showNavbar {
  from {
    transform: translateY(-60px); }
  to {
    transform: translateY(0px); } }

@keyframes hideNavbar {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-60px); } }

nav {
  width: 100%;
  height: 60px;
  z-index: 9999;
  background: #fff; }
  nav .container {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between; }
    nav .container .logo {
      height: 40px;
      width: auto; }
      nav .container .logo h3 {
        padding: 9px;
        font-family: segui;
        text-transform: uppercase;
        color: #000; }
        nav .container .logo h3 span {
          font-family: seguisb;
          color: #566ed5; }
    nav .container .links {
      padding: 10px 0px; }
      nav .container .links li {
        display: inline-block;
        padding: 0px 10px; }
        nav .container .links li:nth-child(1) a {
          color: #566ed5; }
        nav .container .links li a {
          font-family: poppins-semibold;
          color: #656565; }

header {
  height: 700px;
  background-position: 50% 100%;
  background-image: url("/images/portfolio/background.png");
  background-color: #fff; }
  header .container {
    height: 100%; }
    header .container .text {
      position: absolute;
      top: 30%; }
      header .container .text h3, header .container .text h1, header .container .text small {
        font-family: poppins; }
      header .container .text h3 {
        font-weight: 300;
        font-size: 3rem;
        color: #566ed5; }
      header .container .text h1 {
        font-weight: bold;
        font-size: 3.5rem; }
      header .container .text small {
        font-size: 0.9rem;
        color: #656565; }

.about {
  height: auto;
  background: #f9f9f9; }
  .about .container {
    padding: 100px 0; }
    .about .container .heading {
      width: 60%; }
      .about .container .heading h1, .about .container .heading h3, .about .container .heading p {
        font-family: poppins; }
      .about .container .heading h1 {
        font-weight: 400; }
        .about .container .heading h1 span {
          color: #35b5d0; }
      .about .container .heading h3 {
        font-weight: bold;
        color: #35b5d0; }
        .about .container .heading h3 span {
          font-weight: 300;
          font-style: italic; }
      .about .container .heading p {
        color: #b4b4b4; }
      .about .container .heading a {
        position: relative;
        top: 20px;
        color: #fff;
        background: #35b5d0;
        padding: 10px 50px; }
