$white: #fff;
$pink: #fc0e4a;
$grey: #45474A;
$second-grey: #E4E4E4;
$black: #444646;
body{
  background: #f1f1f1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI",'Arial';
}
svg{
  color: $pink !important;
}
h1,
h2,
h3,
h4,
h5,
h6, small{
    color: $black;
  margin: 0;
  padding: 0;
}
a{
  color: $white;
  text-decoration: none;
}
ul, li{
  list-style-type: none;
}
.container{
  margin: 0 auto;
  max-width: 1166px !important;
}

header{
  width: 100%;
  height: 100vh;
  background: url('/images/portfolio/4kbackground.png') no-repeat;
  background-size: 100% 100%;
  .container{
    height: 100%;
    .greetings{
      position: relative;
      top: 45%;
      text-align: center;
      transform: perspective(1px) translateY(-50%);
    } 
    h1{
      font-size: 2.5rem;
      font-weight: 400;
      color: $white;
      .myName{
        color: $pink;
        font-weight: 500;
      }
    }
    a{
      position: relative;
      top: 25px;
      margin: 10px 0px;
      padding: 8px 45px 9px 15px;
      border: 2px solid $white;
    }
    #landing-page-link.hover{
      animation: linkHoverOpacity 0.5s both;
    }
    #landing-page-link.unhover{
      animation: linkUnHoverOpacity 0.5s both;
    }
    @keyframes linkHoverOpacity{
      from {
        background: rgba(252, 14, 74, 0);
      }
      to{
        background: rgba(252, 14, 74, 0.664);
      }
    }
    @keyframes linkUnHoverOpacity{
      from {
        background: rgba(252, 14, 74, 0.664);
      }
      to{
        background: rgba(252, 14, 74, 0);
      }
    }
    img{
      position: relative;
      top: 28px;
      left: -37px;
      transition: transform 0.2s ease-in-out;
    }
    img.arrowRotate{
      transform: rotate(90deg);
    }
    img.arrowDeRotate{
      transform: rotate(0deg);
    }
  }
}
nav#navigation{
  z-index: 999;
  width: 100%;
  background: #252934;
  height: 50px;
  padding: 0;
  margin: 0;
  top: 0;
  border-bottom: 2px solid $pink;
  img{
    padding: 9px 5px;
  }
  .logoname{
    position: relative;
    top: -20px;
  span{
    color: $pink;
  }
}
  .nav-links{
    float: right;
    position: relative;
    top: 13px;
    a{
      padding: 0px 5px;
    }
  }
  .hamburger{
    display: none;
    top: 5px;
    float: right;
    position: relative;
    div{
      position: relative;
      border-radius: 3px;
      background: $white;
      height: 5px;
      width: 35px;
      &:nth-child(1) {
        top: 5px;
      }
      &:nth-child(2) {
        top: 10px;
      }
      &:nth-child(3) {
        top: 15px;
      }
    }
  }
  .drop-items{
    display: none;
    height: auto;
    position: absolute;
    width: 100%;
    z-index: 999;
    left: 0;
    background: #252934;
    li{
      margin: 25px;
    }
  }
  .drop-items.show{
    display: block;
  }
}
.fixed{
  position: fixed;
  width: 100%;
}
.about-me-section.test{
  top: 50px;
}
.about-me-section{
  position: relative;
  height: auto;
  background: $white;
  #about-header{
    position: relative;
    z-index: 1;
    text-align: center;
    font-size: 2.4rem;
    opacity: 0;
    padding: 8rem 0px 1rem 0px;
  }
  hr{
    position: relative;
    z-index: 1;
    max-width: 60px;
    animation-delay: 0.5s;
    border-top: 4px solid $black;
  }
  #about-header.slideleft{
    animation: slideleft 0.8s ease both;
  }
  hr {
    opacity: 0;
  }
  hr.slideleft {
    animation: slideleft 0.8s ease both;
    animation-delay: 0.5s;
  }
  @keyframes slideleft {
    from {
      opacity: 0;
      transform: translateX(-300px);
    }
    to{
      opacity: 1;
      transform: translateX(0)
    }
  }
  .about-wrapper-left.slideleft{
    animation: slideleft 0.8s ease both;
  }
  .about-wrapper-left{
    opacity: 0;
    display: inline-block;
    width: 50%;
    padding: 35px 0px;
    .profile-name{
      small{
        font-style: italic;
      }
     }
     .lead{
       margin: 20px 0px;
       h2{
        color: #7b7b7b;
        font-weight: 400;
       }
       span{
         font-weight: 600;
         color: $black;
       }
     }
     .sb-32{
      width: 370px;
    }
  }
  @keyframes flipInX {
    0% {
      -webkit-transform: perspective(400px) rotateY(90deg);
      transform: perspective(400px) rotateY(90deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 0; }
    40% {
      -webkit-transform: perspective(400px) rotateY(-20deg);
      transform: perspective(400px) rotateY(-20deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in; }
    60% {
      -webkit-transform: perspective(400px) rotateY(10deg);
      transform: perspective(400px) rotateY(10deg);
      opacity: 1; }
    80% {
      -webkit-transform: perspective(400px) rotateY(-5deg);
      transform: perspective(400px) rotateY(5deg); }
    100% {
      -webkit-transform: perspective(400px);
      transform: perspective(400px);
      opacity: 1; } }

  .about-wrapper-right{
    display: inline-block;
    width: 40%;
    padding: 35px 0px;
    img{
      float: right;
    }
    img.flipinx{
      animation: flipInX 1s both;
    }
    .my-info{
      height: 200px;
      width: 300px;
      background: $grey;
    }
  }
  .icons{
    margin: 40px 0px;
    display: block;
    width: 100%;
    height: 400px;
    .icons-wrapper{
      float: left;
      height: auto;
      margin: 0 6%;
      .icon-item{
        opacity: 0;
        -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        background: $pink;
        height: 150px;
        width: 150px;
      }

      .flipinx{
      opacity: 1;
      animation: flipInX 1s both;
      }
      .first-shape.flipinx{
        animation-delay: 0s;
      }
      .second-shape.flipinx{
        animation-delay: 0.3s;
      }
      .third-shape.flipinx{
        animation-delay: 0.6s;
        
      }
      .fourth-shape.flipinx{
        animation-delay: 0.9s;
      }
    }
  }
}
.portfolio-section{
  width: 100%;
  height: 500px;
  background: $white;
}
@media screen and (max-width: 1200px) {
  .container{
    width: 90% !important;
  }
  header{
    background-size: 100% 100%;
  }
}
@media screen and (max-width: 768px) {
  .nav-links{
    display: none;
  }
  .hamburger{
    display: block !important;
  }
  .container{
    width: 85%
  }
  .about-me-section .about-wrapper-left{
    float: none;
  }
  .about-me-section .about-wrapper-right{
    width: 100%;
  }
  .about-me-section .about-wrapper-right img{
    float: none !important;
  }
}
@media screen and (max-width: 500px) {
  header{
    background: url('/images/portfolio/phone.png');
    background-size: 100% 100%;
  }
}