$black: #292931;

@font-face {
  font-family: segui;
  src: url('/fonts/segui.ttf');
}
@font-face {
  font-family: seguisb;
  src: url('/fonts/seguisb.ttf');
}
@font-face {
  font-family: poppins-semibold;
  src: url('/fonts/Poppins-SemiBold.otf');
}
@font-face {
  font-family: poppins;
  src: url('/fonts/Poppins-Regular.otf');
}

@keyframes slideLeft {
  from{
    opacity: 0;
    transform: translateX(-200px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slideRight {
  from{
    opacity: 0;
    transform: translateX(200px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slideUp2 {
  from{
    opacity: 0;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }

}

@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fliptoX {
  from {
    -webkit-transform: perspective(400px) rotateY(90deg);
    transform: perspective(400px) rotateY(90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    -webkit-transform: perspective(400px) rotateY(-20deg);
    transform: perspective(400px) rotateY(-20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  60% {
    -webkit-transform: perspective(400px) rotateY(10deg);
    transform: perspective(400px) rotateY(10deg);
    opacity: 1; }
  80% {
    -webkit-transform: perspective(400px) rotateY(-5deg);
    transform: perspective(400px) rotateY(5deg); }
  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    opacity: 1; } }


:root{
  scroll-behavior: smooth;
}
body{
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6{
 color: #333;
 margin: 0;
 padding: 0;
 font-family: poppins, sans-serif;
}
a{
  font-family: poppins, sans-serif;
  text-decoration: none;
}
p{
  font-family: poppins;
}
ul{
  list-style-type: none;
}
.container{
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}

nav{
  width: 100%;
  height: 60px;
  z-index: 9999;
  background: #fff;

  .container{
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;

    .logo{
      height: 40px;
      width: auto;

      h3 {
        padding: 9px;
        font-family: segui;
        text-transform: uppercase;
        color: #000;
     

        span{
        font-family: seguisb;
        color: #566ed5;  
        }
      }
    }
    .links{
      padding: 10px 0px;

      li{
        display: inline-block;
        padding: 0px 10px;

        &:nth-child(1) {
          a{
            color: #566ed5;
          }
        }
        a{
          font-family: poppins-semibold;
          color: #656565;
        
        }
      }
    }
    .hamburger-menu{
      display: none;
    }
  }
  .dropdown-menu{
    display: none;
  }
}

header{
  height: 600px;
  background-position: 50% 100%;
  background-image: url('/images/portfolio/background.png');
  background-repeat: no-repeat;
  background-color: #fff;

  .container{
    height: 100%;

    .text{
      position: absolute;
      top: 30%;
  
      h3{
        animation: slideUp 1s both;
        font-weight: 300;
        font-size: 3rem;
        color: #566ed5;
      }

      h1{
        animation: slideUp 1s both;
        animation-delay: .5s;
        font-weight: bold;
        font-size: 3.5rem;
      }

      small{
        animation: slideUp 1s both;
        animation-delay: 1s;
        font-family: poppins;
        font-size: 0.9rem;
        color: #656565;
      }
    }
  }
}
.about{
  height: auto;
  background: #f9f9f9;

  .container{
    padding: 100px 0;

    .heading{
      width: 60%;

      h1{
        font-weight: 400;
  
        span{
          color: #35b5d0;
        }
        &.animate{
           animation: both 1s slideLeft;
        }
      }

      h3{
        font-weight: bold;
        color: #35b5d0;
        
        span{
          font-weight: 300;
          font-style: italic;
        }

        &.animate{
          animation: both 1s slideLeft;
          animation-delay: .5s;
        }
      }

      .bodytext-wrapper{

        p{
          color: #b4b4b4;
        }
  
        a{
          position: relative;
          top: 20px;
          color: #fff;
          background: #35b5d0;
          padding: 10px 50px;
        }
        &.animate{
          animation: both 1s slideLeft;
          animation-delay: .5s;
        }
      }
    }
  }
 
}
.good-at{
  height: auto;
  background-color: #fff;

  .container{
    padding: 100px 0px;
    height: 100%;

    .heading{
      h1{
        span{
          color: #ED46AA; 
        }
        &.animate{
          animation: slideLeft 1s both;
        }
      }
    }
    section{
      display: flex;
      margin: 40px 0px;
      text-align: center;

      .section-wrapper{
        padding: 0px 5%;
        flex: 1;

        .icon{
          img{
            &.animate{
                animation: fliptoX 1s ease both;
            }
          }
        }

        p{

          &.animate{
           animation: fadeIn 1s both; 
          }
        }
        &:nth-child(2){
          .icon{
            img{
              animation-delay: .3s;
            }
          }
          p{
            animation-delay: .3s;
          }
        }
        &:nth-child(3){
          .icon{
            img{
              animation-delay: .6s;
            }
          }
          p{
            animation-delay: .6s;
          }
        }
        &:nth-child(4){
          .icon{
            img{
              animation-delay: .9s;
            }
          }
          p{
            animation-delay: .9s;
          }
        }
      }

    }
  }
}
.other-skills{
  height: auto;
  background-repeat: repeat-x;
  background-color: #f2f2f2;
  background-image: url('/images/portfolio/background2.jpg');
  
  .container{
    padding: 200px 0 100px 0;
    
    .heading{
      display: inline-block;
      vertical-align: top;
      width: 49%;

      &.animate{
      animation: slideLeft 1s both;
      }

      h1{
        span{
          color: #6a5acd;      
        }
      }

      p{
          color: #b4b4b4;
      }
    }
    .skill-wrapper{
      display: inline-block;
      vertical-align: top;
      width: 49%;

      &.animate{
        animation: slideRight 1s both;
      }

      .skill{
        width: 70%;
        margin: 20px auto;

        .text{
          display: flex;
          justify-content: space-between;

          h3{
            font-size: 1rem;
          }
        }
        .bar{
          height: 4px;
          background: #fff;
          width: 100%;
  
          .bar-percent{
            height: 100%;
          }
        }

        &.html{
          .text{
            h3{
              color: #6a5acd;
            }
          }
       
          .bar{
            .bar-percent{
            background-color: #6a5acd;
            width: 90%;
            }
          }
        }
        &.css{
          .text{
            h3{
              color: #ed46aa;
            }
          }
          .bar{
            .bar-percent{
            background-color: #ed46aa;
            width: 90%;
            }
          }
        }
        &.adobe{
          .text{
            h3{
              color: #35bdcf;
            }
          }
          .bar{
            .bar-percent{
            background-color: #35bdcf;
            width: 70%;
            }
          }
        }
        &.laravel{
          .text{
            h3{
              color: #3c74c6;
            }
          }
          .bar{
            .bar-percent{
            background-color: #3c74c6;
            width: 60%;
            }
          }
        }
      }
    }
  }
}
.projects{
  height: auto;
  background-image: url('/images/portfolio/background.png');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  
  .container{
    padding: 100px 0;
    height: 100%;

    .heading{
      h1{

        &.animate{
         animation: slideLeft 1s both;
        }
        span{
          color: #3c74c6;
        }
      }
    }

    .projects-wrapper{
      margin: 50px auto;
      position: relative;

      .project{
          margin: 1%;
          display: inline-block;
          vertical-align: top;
          background-color: #333;
          width: 30%;
          height: 300px;
          box-shadow: #ccc 0 0 27px 0;
          background-position: center;

          &.animate{
            animation: slideUp2 1s both;

          }
          &:nth-child(1) {
            background-size: 300px;
            background-position-y: 0%;
            background-image: url('/images/portfolio/project1.png')
          }
          &:nth-child(2) {
            animation-delay: 0.3s;
          }
          
          &:nth-child(3) {
            animation-delay: 0.4s;
          }
          &:nth-child(4) {
            animation-delay: 0.5s;
          }
          &:nth-child(5) {
            animation-delay: 0.6s;
          }
          &:nth-child(6) {
            animation-delay: 0.7s;
          }
      }
    }
  }
}
.google-map{
  width: 100%;
  height: 500px;
}

footer{
  height: auto;
  width: 100%;
  background: linear-gradient(90deg, #36a8c2, #2b62b4);

  .container{
    .contact-form{
      position: relative;
      top: -100px;
      padding: 3%;
      height: auto;
      width: 94%;
      background-color: #fff;

      .heading{
        padding: 10px;
        
        h1{
          font-family: sans-serif;
          font-size: 1.6rem;
        }
      }

      form{
      vertical-align: top;
      width: 65%;
      display: inline-block;
      border-right: 2px solid #f8f8f8;

        
        .input-wrapper, .textarea-wrapper{
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
        }

        .input-wrapper{
          padding: 10px;
          vertical-align: top;
          display: inline-block;
          width: 35%;

          input{
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            height: 27px;
            border: 2px solid #f8f8f8;
            margin: 10px 0px;
            width: 100%;
            padding: 0px 5px;
            display: block;

            &:-webkit-autofill {
              -webkit-box-shadow: 0 0 0 30px white inset;
              box-shadow: 0 0 0 30px white inset;
              -moz-box-shadow: 0 0 0 30px white inset;
          }

            &:nth-child(1) {
              margin-top: 0px;
            }
          }

      
        }
        .textarea-wrapper{
          padding: 10px;
          vertical-align: top;
          height: 100%;
          display: inline-block;
          width: 55%;

          textarea{
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            height: 80px;
            border: 2px solid #f8f8f8;
            resize: none;
            width: 100%;
          }
          button{
            border: none;
            color: #fff;
            font-size: 0.9rem;
            font-weight: bold;
            background: #ED46AA;
            display: block;
            padding: 5px 20px;
            border-radius:o 3px;
          }
        }
        small{
          display: none;
          font-family: poppins, sans-serif;
          font-weight: 500;
          color: crimson;
        }
      }
      .info-wrapper{
        vertical-align: top;
        display: inline-block;
        width: 29%;
        padding: 20px;

        section{
          margin: 10px 0px;

          .logo{
            vertical-align: middle;
            display: inline-block;
            width: 10%;
          }
          .info{
            vertical-align: middle;
            font-family: poppins, sans-serif;
            display: inline-block;
            width: 75%;

            small{
              font-size: 0.8rem;
              color: #333;
              padding-bottom: 5px;
            border-bottom: 2px solid #f8f8f8;
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 1260px) {
  .container{
    width: 80%;
  }

  .projects{
    .container{
      .projects-wrapper{
        .project{
          width: 45%;
        }
      }
    }
  }

  footer{
    .container{
      .contact-form{
        form{
          .input-wrapper{
            display: block;
            width: 50%;
          }
         .textarea-wrapper{
           display: block;
           width: 70%;

           textarea{
             height: 150px;
           }
         }
        }
      }
    }
  }
}
@media screen and(max-width: 990px) {
  .about{
    .container{
      .heading{
        width: 80%;
      }
    }
  }
  .good-at{
    .container{
      section{
        display: block;
  
        .section-wrapper{
          margin: 15px;
          padding: 0;
          display: inline-block;
          width: 40%;
        }
      }
    }
  }
  .other-skills{
    .container{
      
      .heading{
        display: block;
        width: 100%;
      }

      .skill-wrapper{
        display: block;
        width: 100%;

        .skill{
          width: 100%
        }
      }
    }
  }
  footer{
    .container{
      .contact-form{
        form{
          display: block;
          width: 100%;
          border: none;
        }
        .info-wrapper{
          display: block;
          width: 100%;
        }
      }
    }
  }
}

@media screen and(max-width: 768px) {
  nav{
    position: relative;

    .container{
      .links{
        display: none;
      }
      .hamburger-menu{
        margin: 10px 0px;
        display: block;
        left: -30px;
        position: relative;

        span{
          border-radius: 10px;
          position: absolute;
          height: 4px;
          width: 30px;
          background: #566ed5;

          &:nth-child(2) {
            top: 8px;
          }
          &:nth-child(3) {
            top: 16px;
          }
        }
      }
    }
    @keyframes navbarAnimationShow {
      from {
        max-height: 0px;
        display: none;
      }
      to{
        max-height: 200px;
        display: block;
      }
    }

    @keyframes navbarAnimationHide {
      from {
        max-height: 200px;
        display: block;
      }
      to{
        max-height: 0px;
        display: none;
      }
    }

    .dropdown-menu{
      position: absolute;
      top: 100%;
      height: 180px;
      width: 100%;
      background: #566ed5;
      text-align: center;

      &.animate{
        display: block;
        animation: navbarAnimationShow .5s both;
     
      }
      &.deanimate{
        display: block;
         animation: navbarAnimationHide .5s both;
      }


      li{
        list-style-type: none;
        padding: 10px 0px;

        a{
          color: #fff;
        }
      }
    }
  }
  .projects{
    .container{
      .projects-wrapper{
        width: 70%;

        .project{
          margin: 20px 0px;
          display: block;
          width: 100%;
        }
      }
    }
  }
  .good-at{
    .container{
      section{
  
        .section-wrapper{
          margin: 20px 0px;
          width: 100%;
          
          img{
            height: 150px;
            width: 150px;
          }
        }
      }
    }
  }
  footer{
    .container{
      .contact-form{
        form{
          .input-wrapper{
            width: 70%;
          }
         .textarea-wrapper{
           width: 80%;

           textarea{
             height: 150px;
           }
         }
        }
      }
    }
  }
}

@media screen and (max-width: 568px) {
  
  .about{
    .container{
      .heading{
        width: 100%;
      }
    }
  }
  .projects{
    .container{
      .projects-wrapper{
        width: 90%;
      }
    }
  }
  footer{
    .container{
      .contact-form{
        form{

          .input-wrapper{
            width: 100%;
          }
         .textarea-wrapper{
           width: 100%;

           textarea{
             padding: 0;
             height: 150px;
           }
         }
        }
      }
    }
  }
}